Repository jina-ai/clip-as-service, pull requests merged in 2022-03, with the labels that each got.

#656 docs: fix readme
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  README.md
  client/setup.py
  server/setup.py
Labels: component/client, component/server, size/s, area/housekeeping, area/cicd

#658 refactor: remove unused main unify keywords
  client/setup.py
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_torch.py
  server/setup.py
  setup.py
Labels: component/client, component/server, size/s, area/setup

#660 docs(readme): polish
  README.md
Labels: size/s

#661 refactor: remove inference model pytorch from onnx
  server/clip_server/executors/clip_onnx.py
Labels: component/server, size/s

#664 chore: fix typo
  docs/user-guides/client.md
Labels: size/xs, area/docs

#666 fix(client): raise value when embedding is empty
  client/clip_client/client.py
  scripts/black.sh
Labels: component/client, size/s

#667 feat(client): more comprehensive progressbar
  client/clip_client/client.py
  client/setup.py
  server/setup.py
Labels: component/client, component/server, size/m

#668 refactor(client): use docarray pbar
  README.md
  client/clip_client/client.py
  client/setup.py
  server/setup.py
Labels: component/client, component/server, size/s

#669 perf(server): use map_batch to overlap cpu gpu
  docs/user-guides/server.md
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_torch.py
Labels: component/server, area/docs, size/m

#670 perf(server): reuse the preprocessing pool
  docs/user-guides/server.md
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_torch.py
  server/setup.py
Labels: component/server, size/s, area/docs
