Repository jina-ai/clip-as-service, pull requests merged in 2022-12, with the labels that each got.

#861 feat: add custom tracing spans with jina>=3.12.0
  client/setup.py
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_tensorrt.py
  server/clip_server/executors/clip_torch.py
  server/setup.py
Labels: component/client, component/server, size/m

#871 feat: add fp16 inference support (torch/onnx)
  .github/workflows/ci.yml
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_torch.py
  server/clip_server/executors/helper.py
  server/clip_server/helper.py
  server/clip_server/model/clip_onnx.py
  server/clip_server/model/model.py
  server/setup.py
  tests/test_simple.py
Labels: component/server, area/housekeeping, area/cicd, size/m, area/testing

#874 docs: default model suggestion
  docs/hosting/by-jina.md
Labels: size/xs, area/docs

#876 fix: dynamic convert onnx model to fp16 during start session
  .github/workflows/ci.yml
  server/clip_server/executors/clip_onnx.py
  server/clip_server/model/clip_onnx.py
  tests/test_model.py
Labels: component/server, size/s, area/housekeeping, area/cicd, area/testing

#883 chore: bump open-clip-torch to v2.8.0
  server/clip_server/model/model.py
  server/setup.py
  tests/test_server.py
Labels: component/server, size/s, area/testing

#882 fix: install pytorch cu116 for server docker image
  Dockerfiles/server.Dockerfile
Labels: size/xs, area/docker
