Repository jina-ai/clip-as-service, pull requests merged in 2022-09, with the labels that each got.

#818 docs: enable horizontal scrolling in wide tables
  docs/conf.py
Labels: size/xs, area/docs

#816 feat: support clip retrieval
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  client/clip_client/client.py
  server/setup.py
  tests/conftest.py
  tests/test_search.py
Labels: component/client, component/server, area/housekeeping, area/cicd, size/m, area/testing

#808 docs: docs for retrieval
  docs/index.md
  docs/user-guides/images/memory_usage_dim_128.png
  docs/user-guides/images/memory_usage_dim_512.png
  docs/user-guides/images/polling_stratey.png
  docs/user-guides/images/retreival.png
  docs/user-guides/retriever.md
Labels: area/docs, size/m

#819 fix(readme): use new demo server
  README.md
Labels: size/s

#821 fix: always return docarray as search result
  client/clip_client/client.py
Labels: size/xs, component/client

#820 docs: update clip search
  client/clip_client/client.py
  docs/index.md
  docs/playground/embedding.md
  docs/playground/searching.md
  docs/user-guides/client.md
  docs/user-guides/retriever.md
Labels: component/client, area/docs, size/m

#815 feat: in-place result in clip_client; preserve output order by uid
  client/clip_client/client.py
  tests/test_asyncio.py
  tests/test_client.py
  tests/test_ranker.py
  tests/test_server.py
  tests/test_simple.py
  tests/test_tensorrt.py
Labels: component/client, area/testing, size/l

#824 feat: drop image content to boost latency
  client/clip_client/client.py
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_tensorrt.py
  server/clip_server/executors/clip_torch.py
  server/clip_server/executors/helper.py
  tests/test_asyncio.py
  tests/test_client.py
  tests/test_helper.py
  tests/test_ranker.py
  tests/test_simple.py
Labels: component/client, component/server, size/m, area/testing

#825 feat: support B/32, L/14, H/14, and g/14 trained on LAION-2B
  docs/user-guides/server.md
  server/clip_server/model/clip_onnx.py
  server/clip_server/model/model.py
  server/clip_server/model/pretrained_models.py
  server/clip_server/onnx-flow.yml
  server/clip_server/torch-flow.yml
Labels: component/server, size/s, area/docs

#828 feat: support large ONNX model files
  docs/user-guides/server.md
  server/clip_server/model/clip_onnx.py
  server/clip_server/model/mclip_model.py
  tests/test_model.py
Labels: component/server, area/docs, size/m, area/testing

#833 chore: fix docs website template
  docs/_templates/page.html
Labels: size/xs, area/docs

#836 chore: use open clip naming convention for model names
  docs/user-guides/server.md
  server/clip_server/model/clip_onnx.py
  server/clip_server/model/pretrained_models.py
  tests/test_model.py
Labels: component/server, size/s, area/docs, area/testing
