Repository jina-ai/clip-as-service, pull requests merged in 2022-06, with the labels that each got.

#738 fix: better monitoring
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_tensorrt.py
  server/clip_server/executors/clip_torch.py
  server/clip_server/onnx-flow.yml
  server/clip_server/tensorrt-flow.yml
  server/clip_server/torch-flow.yml
Labels: component/server, size/m

#737 docs: update monitoring feature
  docs/user-guides/images/server-start-monitoring.gif
  docs/user-guides/server.md
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_tensorrt.py
  server/clip_server/executors/clip_torch.py
Labels: component/server, size/s, area/docs

#741 chore: add grafana dashboard
  docs/_static/cas-grafana.json
  docs/user-guides/images/grafana-dashboard.png
  docs/user-guides/server.md
Labels: area/docs, size/l

#739 docs: add JCloud deployment docs
  docs/user-guides/images/jc-deploy.png
  docs/user-guides/server.md
Labels: size/s, area/docs

#740 feat: add clip_hg executor
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  server/clip_server/executors/clip_hg.py
  server/clip_server/hg-flow.yml
  server/clip_server/model/model.py
  server/setup.py
  tests/conftest.py
  tests/test_hg.py
Labels: component/server, area/housekeeping, area/cicd, size/m, area/testing

#743 refactor: monitor
  server/clip_server/executors/clip_hg.py
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_tensorrt.py
  server/clip_server/executors/clip_torch.py
  server/setup.py
Labels: component/server, size/m

#745 fix: monitor documentation
  server/clip_server/executors/clip_hg.py
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_tensorrt.py
  server/clip_server/executors/clip_torch.py
Labels: component/server, size/s

#747 chore: update links in docs
  docs/_static/now-dark.svg
  docs/_static/now-light.svg
  docs/_templates/sidebar/navigation.html
  docs/user-guides/server.md
Labels: size/s, area/docs

#748 feat: add traversal paths
  client/clip_client/client.py
  server/clip_server/executors/clip_hg.py
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_tensorrt.py
  server/clip_server/executors/clip_torch.py
  server/clip_server/executors/helper.py
  tests/test_hg.py
  tests/test_simple.py
Labels: component/client, component/server, size/m, area/testing

#749 Revert "feat: add traversal paths"
  client/clip_client/client.py
  server/clip_server/executors/clip_hg.py
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_tensorrt.py
  server/clip_server/executors/clip_torch.py
  server/clip_server/executors/helper.py
  tests/test_hg.py
  tests/test_simple.py
Labels: component/client, component/server, size/m, area/testing

#750 feat: add traversal paths
  client/clip_client/client.py
  server/clip_server/executors/clip_hg.py
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_tensorrt.py
  server/clip_server/executors/clip_torch.py
  server/clip_server/executors/helper.py
  tests/conftest.py
  tests/test_hg.py
  tests/test_simple.py
Labels: component/client, component/server, size/m, area/testing

#753 fix: add integerate test for client
  tests/test_client.py
Labels: size/s, area/testing

#723 feat: upload torch executor
  .github/README-exec/onnx.readme.md
  .github/README-exec/torch.readme.md
  .github/workflows/force-docker-build.yml
  .github/workflows/force-hub-push.yml
  .github/workflows/force-release.yml
  Dockerfiles/base.Dockerfile
  Dockerfiles/cuda.Dockerfile
  Dockerfiles/tensorrt.Dockerfile
  scripts/get-requirements.py
  server/clip_server/executors/clip_hg.py
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_tensorrt.py
  server/clip_server/executors/clip_torch.py
  server/clip_server/executors/helper.py
  server/clip_server/model/clip_trt.py
Labels: component/server, area/housekeeping, area/cicd, size/l, area/docker

#755 chore: fix docker cd
  .github/workflows/force-docker-build.yml
Labels: size/xs, area/housekeeping, area/cicd

#757 feat: add cas server dockerfile
  .github/workflows/cd.yml
  .github/workflows/force-docker-build-cas.yml
  .github/workflows/force-release.yml
  Dockerfiles/base.Dockerfile
  Dockerfiles/cuda.Dockerfile
  Dockerfiles/server.Dockerfile
  Dockerfiles/tensorrt.Dockerfile
  README.md
  client/clip_client/__init__.py
  docs/hosting/cas-on-colab.ipynb
  docs/hosting/cas-on-colab.svg
  docs/hosting/colab-banner.png
  docs/hosting/colab.md
  docs/hosting/jc-deploy.png
  docs/hosting/on-jcloud.md
  docs/index.md
  docs/user-guides/client.md
  docs/user-guides/server.md
  server/clip_server/__main__.py
  server/clip_server/executors/clip_hg.py
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_tensorrt.py
  server/clip_server/executors/clip_torch.py
  server/clip_server/executors/helper.py
  server/clip_server/helper.py
  server/clip_server/model/clip.py
  server/clip_server/model/clip_onnx.py
  server/clip_server/model/clip_trt.py
  server/clip_server/model/simple_tokenizer.py
Labels: component/client, component/server, area/housekeeping, area/cicd, area/docs, size/l, area/docker

#758 feat: read config from stdin to allow pipe
  server/clip_server/__main__.py
Labels: component/server, size/s

#759 feat(docs): add qabot to docs website
  docs/_templates/page.html
  docs/conf.py
Labels: size/s, area/docs
