Repository jina-ai/clip-as-service, pull requests merged in 2022-05, with the labels that each got.

#688 feat: add tensorrt support
  .github/workflows/ci.yml
  README.md
  docs/user-guides/server.md
  scripts/benchmark.py
  scripts/get-all-test-paths.sh
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_torch.py
  server/clip_server/executors/clip_trt.py
  server/clip_server/executors/helper.py
  server/clip_server/model/clip.py
  server/clip_server/model/clip_onnx.py
  server/clip_server/model/clip_trt.py
  server/clip_server/model/trt_utils.py
  server/clip_server/tensorrt-flow.yml
  server/setup.py
  tests/conftest.py
  tests/test_tensorrt.py
Labels: component/server, area/housekeeping, area/cicd, area/docs, area/testing, size/l

#706 fix: cd workflow
  .github/workflows/cd.yml
Labels: size/s, area/housekeeping, area/cicd

#707 feat: add ranker endpoint for all backends
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_torch.py
  server/clip_server/executors/clip_trt.py
  tests/test_ranker.py
  tests/test_tensorrt.py
Labels: component/server, size/m, area/testing

#708 fix: use cosine as the rank score
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_torch.py
  server/clip_server/executors/clip_trt.py
  server/clip_server/executors/helper.py
  tests/test_helper.py
  tests/test_ranker.py
  tests/test_tensorrt.py
Labels: component/server, size/m, area/testing

#709 chore: update index html
  docs/index.md
Labels: size/s, area/docs

#711 docs(tracking): update external links' source
  docs/_static/source-in-links.js
  docs/conf.py
Labels: size/s, area/docs

#710 fix: keep logit_scale on same device
  server/clip_server/executors/clip_torch.py
Labels: size/xs, component/server

#712 feat: add dockerfiles and cd workflow
  .dockerignore
  .github/workflows/force-docker-build.yml
  Dockerfiles/base.Dockerfile
  Dockerfiles/cuda.Dockerfile
  Dockerfiles/tensorrt.Dockerfile
  docs/user-guides/server.md
  server/clip_server/executors/clip_tensorrt.py
  server/clip_server/tensorrt-flow.yml
  tests/conftest.py
Labels: component/server, area/housekeeping, area/cicd, area/docs, size/m, area/testing, area/docker

#715 refactor(server): remove redundant logics of rank
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_tensorrt.py
  server/clip_server/executors/clip_torch.py
  server/clip_server/executors/helper.py
  tests/test_ranker.py
Labels: component/server, size/m, area/testing

#716 perf(server): use await gather in rank function
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_tensorrt.py
  server/clip_server/executors/clip_torch.py
  server/clip_server/executors/helper.py
Labels: component/server, size/s

#714 fix: docker build push
  .github/workflows/force-docker-build.yml
Labels: size/s, area/housekeeping, area/cicd

#717 fix: docker release cd
  .github/workflows/cd.yml
  .github/workflows/force-docker-build.yml
  .github/workflows/force-release.yml
Labels: size/s, area/housekeeping, area/cicd

#722 fix(client): fix https args to tls
  README.md
  client/clip_client/client.py
  docs/index.md
  docs/user-guides/client.md
Labels: component/client, size/s, area/docs

#719 fix: docker file
  Dockerfiles/base.Dockerfile
  Dockerfiles/cuda.Dockerfile
  Dockerfiles/tensorrt.Dockerfile
Labels: size/s, area/docker

#725 fix: k8s dockerize
  .github/workflows/force-docker-build.yml
  Dockerfiles/base.Dockerfile
  Dockerfiles/cuda.Dockerfile
Labels: size/s, area/housekeeping, area/cicd, area/docker

#727 fix(server): fix content assignment
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_tensorrt.py
  server/clip_server/executors/clip_torch.py
Labels: component/server, size/s

#728 docs(tracking): remove utm source in links
  docs/_static/source-in-links.js
  docs/conf.py
Labels: size/s, area/docs

#729 fix: windows file name conflict
  .github/README-img/And-you-saw-the-old-housekeeper,-I-suppose?-Poor-Reynolds,-she-was-always-very-fond-of-me.png
  .github/README-img/At-last-it-arrested-her—and-she-beheld-a-striking-resemblance-to-Mr.png
  .github/README-img/Bennet-the-next-morning,-but-the-post-came-in-without-bringing-a-single-line-from-him.png
  .github/README-img/Bennet.png
  .github/README-img/But,-however,-he-is-very-welcome-to-come-to-Netherfield,-if-he-likes-it.png
  .github/README-img/But-I-confess-they-would-have-no-charms-for-_me_—I-should-infinitely-prefer-a-book.png
  .github/README-img/But-he-is-an-ugly-fellow!-I-am-glad-he-is-gone.png
  .github/README-img/Collins-was-punctual-to-his-time,-and-was-received-with-great-politeness-by-the-whole-family.png
  .github/README-img/Colonel-Forster-will,-I-dare-say,-do-everything-in-his-power-to-satisfy-us-on-this-head.png
  .github/README-img/Darcy,”-cried-a-young-Lucas,-who-came-with-his-sisters,-“I-should-not-care-how-proud-I-was.png
  .github/README-img/Darcy-for-herself,-she-would-have-ordered-her-wedding-clothes.png
  .github/README-img/Darcy-is.png
  .github/README-img/Darcy-so-bad-as-this—though-I-have-never-liked-him.png
  .github/README-img/Did-you-see-him-while-you-were-at-Lambton?-I-thought-I-understood-from-the-Gardiners-that-you-had.png
  .github/README-img/Gardiner,-“there-is-no-absolute-proof-that-they-are-not-gone-to-Scotland.png
  .github/README-img/Gardiner-had-seen-Pemberley,-and-known-the-late-Mr.png
  .github/README-img/Gardiner-that-he-had-found-out-where-your-sister-and-Mr.png
  .github/README-img/Gardiner-were-engaged-with-their-children,-was-now-put-an-end-to-by-the-approach-of-the-whole-party.png
  .github/README-img/He-comes-down-on-Thursday-at-the-latest,-very-likely-on-Wednesday.png
  .github/README-img/He-is-so-excessively-handsome!-and-his-sisters-are-charming-women.png
  .github/README-img/Her-face-is-too-thin;-her-complexion-has-no-brilliancy;-and-her-features-are-not-at-all-handsome.png
  .github/README-img/Hurst-began-again.png
  .github/README-img/I-am-confident-that-she-would-have-performed-delightfully.png
  .github/README-img/I-am-not-romantic,-you-know;-I-never-was.png
  .github/README-img/I-believe-him-to-be-Lady-Catherine’s-_nephew_.png
  .github/README-img/I-hope-your-plans-in-favour-of-the-——shire-will-not-be-affected-by-his-being-in-the-neighbourhood.png
  .github/README-img/I-never-saw-such-a-long-chin-in-my-life.png
  .github/README-img/It-gave-her-all-the-animation-that-her-spirits-could-boast;-for-she-was-in-no-cheerful-humour.png
  .github/README-img/Jenkinson-to-make-up-her-party.png
  .github/README-img/Jones-should-be-sent-for-early-in-the-morning,-if-Miss-Bennet-were-not-decidedly-better.png
  .github/README-img/Oh!-_that_-abominable-Mr.png
  .github/README-img/Stone.png
  .github/README-img/The-loo-table,-however,-did-not-appear.png
  .github/README-img/The-officer-was-the-very-Mr.png
  .github/README-img/There-is-not-one-of-his-tenants-or-servants-but-will-give-him-a-good-name.png
  .github/README-img/When-Mr.png
  .github/README-img/Wickham,-we-are-brother-and-sister,-you-know.png
  .github/README-img/Wickham-with-a-look-which-did-not-escape-her.png
  .github/README-img/Wickham-with-money.png
  .github/README-img/“A-gamester!”-she-cried.png
  .github/README-img/“Wickham-so-very-bad!-It-is-almost-past-belief.png
  .github/README-img/”-Kitty,-who-took-all-these-threats-in-a-serious-light,-began-to-cry.png
  .github/README-img/”-This-was-spoken-jestingly;-but-it-appeared-to-her-so-just-a-picture-of-Mr.png
  .github/README-img/”-“And-my-aunt-Phillips-is-sure-it-would-do-_me_-a-great-deal-of-good,”-added-Kitty.png
  .github/README-img/”-“I-had-much-rather-go-in-the-coach.png
  .github/README-img/”-“I-think-I-have-heard-you-say-that-their-uncle-is-an-attorney-in-Meryton.png
  .github/README-img/”-“It-is-a-rule-with-me,-that-a-person-who-can-write-a-long-letter-with-ease,-cannot-write-ill.png
  .github/README-img/”-“No,-no,-nonsense,-Lizzy.png
  .github/README-img/”-“That-is-all-settled;”-repeated-the-other,-as-she-ran-into-her-room-to-prepare.png
Labels: size/xs, area/housekeeping

#674 feat: add monitoring
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_tensorrt.py
  server/clip_server/executors/clip_torch.py
  server/clip_server/onnx-flow.yml
  server/clip_server/tensorrt-flow.yml
  server/clip_server/torch-flow.yml
  server/setup.py
Labels: component/server, size/s

#735 fix: does not require port
  .pre-commit-config.yaml
  client/clip_client/client.py
Labels: size/xs, component/client
