Repository jina-ai/clip-as-service, pull requests merged in 2022-10, with the labels that each got.

#834 chore: add description for retrieval playground
  docs/playground/searching.md
Labels: size/xs, area/docs

#839 chore: polish benchmark doc
  docs/index.md
  docs/user-guides/benchmark.rst
Labels: size/s, area/docs

#832 docs: clip benchmark on zeroshot classification and retrieval tasks
  docs/index.md
  docs/user-guides/benchmark.rst
  docs/user-guides/server.md
Labels: area/docs, size/m

#841 docs: add memory profile
  docs/user-guides/retriever.md
Labels: size/s, area/docs

#843 docs: update finetuner docs
  docs/user-guides/finetuner.md
Labels: size/s, area/docs

#844 chore: use new free service in playground
  docs/_static/demo-embed.html
  docs/_static/demo-text-rank.html
  docs/index.md
Labels: size/s, area/docs

#845 chore: change hub url from hub.jina.ai to cloud.jina.ai
  .github/README-exec/torch.readme.md
  docs/hosting/on-jcloud.md
Labels: size/xs, area/housekeeping, area/docs

#847 docs: move benchmark conclusion to beginning
  docs/user-guides/benchmark.rst
Labels: size/s, area/docs

#848 docs: add instructions for using clip server hosted by jina
  README.md
  docs/hosting/by-jina.md
  docs/index.md
Labels: area/docs, size/m

#846 docs: add tips for client parallelism usage
  docs/user-guides/client.md
  docs/user-guides/server.md
Labels: area/docs, size/m
