Repository jina-ai/clip-as-service, pull requests merged in 2022-08, with the labels that each got.

#790 fix: fp16 inference
  LICENSE
  server/clip_server/model/clip.py
  server/clip_server/model/mclip_model.py
  server/clip_server/model/model.py
  server/clip_server/model/openclip_model.py
  server/setup.py
  tests/test_server.py
Labels: component/server, area/testing, size/xl

#792 fix: mclip cuda device
  server/clip_server/model/mclip_model.py
Labels: component/server, size/s

#784 docs: add model support
  docs/user-guides/server.md
Labels: size/s, area/docs

#791 feat: replace traversal_paths with access_paths
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_tensorrt.py
  server/clip_server/executors/clip_torch.py
  tests/test_simple.py
Labels: component/server, size/s, area/testing

#793 fix: change onnx and trt default model name to ViT-B-32::openai
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_tensorrt.py
  server/clip_server/model/clip_onnx.py
  server/clip_server/model/clip_trt.py
  tests/conftest.py
Labels: component/server, size/s, area/testing

#794 docs: update hub readme
  .github/README-exec/onnx.readme.md
  .github/README-exec/torch.readme.md
  client/setup.py
  scripts/benchmark.py
  server/clip_server/model/clip_onnx.py
  server/setup.py
Labels: component/client, component/server, size/s, area/housekeeping

#795 feat: encode text first when both text and uri are presented
  server/clip_server/executors/helper.py
  tests/test_helper.py
Labels: component/server, size/s, area/testing

#801 fix: cast dtype for fp16
  server/clip_server/model/model.py
Labels: size/xs, component/server

#803 docs: fix hub table typo
  .github/README-exec/onnx.readme.md
  .github/README-exec/torch.readme.md
Labels: size/s, area/housekeeping

#796 feat: add warning if input is too large
  client/clip_client/client.py
  tests/test_client.py
Labels: component/client, size/s, area/testing

#804 feat: do not send blob from server when it is loaded in client
  client/clip_client/client.py
  server/clip_server/executors/helper.py
  tests/test_asyncio.py
  tests/test_helper.py
  tests/test_ranker.py
  tests/test_simple.py
Labels: component/client, component/server, size/m, area/testing

#806 chore: update executor docstring
  docs/user-guides/server.md
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_tensorrt.py
  server/clip_server/executors/clip_torch.py
Labels: component/server, size/s, area/docs

#810 chore: update protobuf version
  client/setup.py
  server/setup.py
Labels: size/xs, component/client, component/server

#809 docs: update jcloud gpu usage
  docs/hosting/on-jcloud.md
Labels: size/s, area/docs

#811 fix: grpc meta auth
  client/clip_client/client.py
Labels: size/xs, component/client

#813 docs: update model support table
  docs/user-guides/server.md
Labels: size/s, area/docs

#812 chore: improve model not found error msg
  server/clip_server/model/clip_model.py
  server/clip_server/model/clip_onnx.py
  server/clip_server/model/clip_trt.py
Labels: component/server, size/s
