Repository jina-ai/clip-as-service, pull requests merged in 2022-11, with the labels that each got.

#849 feat: allow custom callback in clip_client
  client/clip_client/client.py
  docs/user-guides/client.md
  tests/test_client.py
Labels: component/client, area/docs, area/testing, size/l

#851 fix: install transformers for executor docker images
  .github/README-exec/onnx.readme.md
  .github/README-exec/torch.readme.md
  Dockerfiles/base.Dockerfile
  Dockerfiles/cuda.Dockerfile
Labels: size/s, area/housekeeping, area/docker

#854 fix: increase timeout ready for executor docker images
  Dockerfiles/base.Dockerfile
  Dockerfiles/cuda.Dockerfile
Labels: size/xs, area/docker

#857 chore: replace clip server address in docs
  docs/user-guides/client.md
  docs/user-guides/server.md
Labels: size/s, area/docs

#856 chore: allow test to pass even if commit name is not good
  .github/workflows/ci.yml
Labels: size/s, area/housekeeping, area/cicd

#864 chore: hide changelog in docs
  docs/index.md
Labels: size/xs, area/docs

#863 fix: add pip installable flash attention
  .github/workflows/ci.yml
  server/setup.py
Labels: size/xs, component/server, area/housekeeping, area/cicd

#866 fix: torchvision version to avoid compatibility issue
  server/setup.py
Labels: size/xs, component/server

#860 feat: add three new open clip roberta base models
  .github/workflows/ci.yml
  server/clip_server/model/flash_attention.py
  server/clip_server/model/model.py
  server/clip_server/model/openclip_model.py
  server/clip_server/model/pretrained_models.py
  server/setup.py
  tests/test_model.py
Labels: component/server, area/housekeeping, area/cicd, area/testing, size/l
