Repository jina-ai/clip-as-service, pull requests merged in 2022-04, with the labels that each got.

#671 docs: add http endpoint explain
  docs/user-guides/client.md
  docs/user-guides/server.md
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_torch.py
Labels: component/server, size/s, area/docs

#673 feat: gitignore
  .gitignore
  scripts/black.sh
Labels: size/m

#675 fix: ignore onnxruntime-gpu on macos
  client/clip_client/client.py
  server/setup.py
  tests/test_simple.py
Labels: component/client, component/server, size/s, area/testing

#678 feat(server): allow client sending tensor document
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  client/clip_client/client.py
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_torch.py
  server/clip_server/model/clip.py
  tests/test_server.py
  tests/test_simple.py
Labels: component/client, component/server, size/s, area/housekeeping, area/cicd, area/testing

#679 docs(server): docs document tensor
  docs/user-guides/client.md
  tests/test_server.py
Labels: size/s, area/docs, area/testing

#681 fix: tensor input document
  docs/user-guides/client.md
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_torch.py
  tests/test_simple.py
Labels: component/server, size/s, area/docs, area/testing

#680 perf: scalable benchmark
  scripts/benchmark.py
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_torch.py
  server/clip_server/model/clip_onnx.py
  server/setup.py
Labels: component/server, size/m

#684 chore: update docs
  docs/changelog/index.md
  docs/user-guides/server.md
Labels: size/s, area/docs

#683 fix: use one iteration step
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_torch.py
  server/clip_server/helper.py
  tests/test_simple.py
Labels: component/server, size/s, area/testing

#685 fix: remove process backend
  docs/user-guides/server.md
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_torch.py
Labels: component/server, size/s, area/docs

#687 fix: pass extra_search path
  server/clip_server/__main__.py
Labels: size/xs, component/server

#689 fix: download with resume
  server/clip_server/model/clip.py
  server/clip_server/model/clip_onnx.py
  tests/test_server.py
Labels: component/server, size/s, area/testing

#694 feat(server): add rank endpoint
  scripts/onnx_helper.py
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_torch.py
  server/clip_server/model/clip.py
  server/clip_server/model/clip_onnx.py
  tests/test_ranker.py
Labels: component/server, size/m, area/testing

#699 fix(torch): fix oom in rerank endpoint
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_torch.py
Labels: component/server, size/s

#700 refactor: use packaging instead of distutil
  client/clip_client/helper.py
  client/setup.py
  server/clip_server/helper.py
  server/setup.py
Labels: component/client, component/server, size/s

#701 feat: add async rerank
  README.md
  client/clip_client/__init__.py
  client/clip_client/client.py
  docs/changelog/index.md
  docs/user-guides/client.md
  server/clip_server/__init__.py
  server/clip_server/executors/clip_torch.py
  tests/test_ranker.py
Labels: component/client, component/server, size/s, area/docs, area/testing
