Repository jina-ai/clip-as-service, pull requests merged in 2022-07, with the labels that each got.

#761 feat: support custom onnx file and update model signatures
  docs/conf.py
  docs/user-guides/server.md
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_torch.py
  server/clip_server/executors/helper.py
  server/clip_server/model/clip.py
  server/clip_server/model/clip_onnx.py
  server/clip_server/model/clip_trt.py
  server/clip_server/tensorrt-flow.yml
  tests/conftest.py
  tests/test_server.py
Labels: component/server, area/docs, area/testing, size/l

#772 chore: fix markdown-table extention
  docs/requirements.txt
Labels: size/xs, area/docs

#765 feat: allow credential in client
  client/clip_client/client.py
Labels: component/client, size/s

#776 fix: refactor preprocessor
  server/clip_server/executors/clip_torch.py
  server/clip_server/executors/helper.py
  server/clip_server/model/clip_model.py
  server/clip_server/model/clip_preprocessor.py
  server/clip_server/model/mclip_model.py
  server/clip_server/model/mclip_preprocessor.py
  server/clip_server/model/model.py
  server/clip_server/model/openai_model.py
  server/clip_server/model/openclip_model.py
  server/clip_server/model/openclip_preprocessor.py
  server/clip_server/model/pretrained_models.py
  server/clip_server/model/tokenization.py
Labels: component/server, size/xl

#775 feat: allow model selection in client
  client/clip_client/client.py
Labels: component/client, size/s

#779 fix: async progress bar does not display
  client/clip_client/client.py
Labels: component/client, size/s

#783 fix: add models and md5
  server/clip_server/executors/clip_torch.py
  server/clip_server/model/clip_onnx.py
  server/clip_server/model/openclip_model.py
  server/clip_server/model/pretrained_models.py
  tests/test_model.py
Labels: component/server, size/m, area/testing

#782 feat: update openclip loader
  server/clip_server/model/mclip_model.py
  server/clip_server/model/openclip_model.py
  server/clip_server/model/pretrained_models.py
  server/setup.py
Labels: component/server, size/s

#781 feat: support onnx backend for openclip
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_tensorrt.py
  server/clip_server/executors/clip_torch.py
  server/clip_server/model/clip_model.py
  server/clip_server/model/clip_onnx.py
  server/clip_server/model/clip_trt.py
  server/clip_server/model/mclip_model.py
  server/clip_server/model/openclip_model.py
Labels: component/server, size/m

#785 feat: update onnx models and md5
  server/clip_server/model/clip_onnx.py
Labels: component/server, size/s

#787 fix: no allow client to change server batch size
  server/clip_server/executors/clip_onnx.py
  server/clip_server/executors/clip_tensorrt.py
  server/clip_server/executors/clip_torch.py
Labels: component/server, size/s

#786 chore: remove clip_hg
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  server/clip_server/executors/clip_hg.py
  server/clip_server/hg-flow.yml
  server/setup.py
  tests/conftest.py
  tests/test_hg.py
Labels: component/server, area/housekeeping, area/cicd, size/m, area/testing

#788 fix: upgrade jina
  .github/workflows/force-docker-build.yml
  .github/workflows/force-hub-push.yml
  Dockerfiles/base.Dockerfile
  Dockerfiles/cuda.Dockerfile
  Dockerfiles/tensorrt.Dockerfile
  client/setup.py
  docs/user-guides/server.md
  server/clip_server/onnx-flow.yml
  server/clip_server/tensorrt-flow.yml
  server/clip_server/torch-flow.yml
  server/setup.py
Labels: component/client, component/server, size/s, area/housekeeping, area/cicd, area/docs, area/docker
